{% extends 'base.html' %}


{% block content %}
{% include 'topnav.html' %}

	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<!-- <h2>Category</h2> -->
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#electronics">
											<!-- <span class="badge pull-right"><i class="fa fa-plus"></i></span> -->
											<!-- Electronics -->
										</a>
									</h4>
								</div>
								
							</div>
							
						</div><!--/category-products-->
					</div>
				</div>	


		<div class="col-sm-9">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-1">
				<div class="col-sm-8">
					<div class="signup-form"><!--sign up form-->
						<h2>Post New Product</h2>
						<form method="post" enctype="multipart/form-data">
							{% csrf_token %}
							<input type="text" name="title" value="{{product.title}}" required/>
							<input type="number" name="price" value="{{product.price}}" required/>
							<input type="text" name="location", value="{{product.location}}"required/>
                            <input type="file" name="image" accept="image/png, image/gif, image/jpeg" />
                            <textarea name="description" id="" cols="30" rows="10">{{product.description}}</textarea>
							<button type="submit" class="btn btn-default">Edit</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<br>
	
	{% include 'footer.html '%}

	
{% endblock content %}