{% extends 'base.html' %}

{% load static %}
{% block title %}
	Home
{% endblock title %}
    

{% block content %}
{% include 'topnav.html' %}

	<section id="slider"><!--slider-->
		<div class="container">
			<div class="row"  style="background: #fff;">
				<div class="col-sm-12">
					<div id="slider-carousel" class="carousel slide" data-ride="carousel">
						<!-- <ol class="carousel-indicators">
							<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
							<li data-target="#slider-carousel" data-slide-to="1"></li>
							<li data-target="#slider-carousel" data-slide-to="2"></li>
						</ol> -->
						
						<div class="carousel-inner">
							<!-- <div class="item active">
								<div class="col-sm-6">
									<h1><span>BEST </span>DEALS</h1>
									<h2>Negotiable Prices</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
									<button type="button" class="btn btn-default get">Get it now</button>
								</div>
								<div class="col-sm-6">
									<img style="border-radius: 5px;" src="{% static 'images/home/advice.jpg' %}" class="girl img-responsive" alt="" />
									<img src="{% static 'images/home/lowest.jpg' %}"  width="100px" class="pricing" alt="" />
								</div>
							</div>
							<div class="item">
								<div class="col-sm-6">
									<h1><span>BEST </span>PRODUCTS</h1>
									<h2>Your Health is Priority</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
									<button type="button" class="btn btn-default get">Get it now</button>
								</div>
								<div class="col-sm-6">
									<img src="{% static 'images/home/basket.jpg' %}" class="girl img-responsive" alt="" />
									<img src="{% static 'images/home/pricebest.png' %}"  class="pricing" alt="" />
								</div>
							</div>
							
							<div class="item">
								<div class="col-sm-6">
									<h1><span>BEST </span>DEALS</h1>
									<h2>Best Deals for Bulk Purchases</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
									<button type="button" class="btn btn-default get">Get it now</button>
								</div>
								<div class="col-sm-6">
									<img style="border-radius: 10px;" src="{% static 'images/home/fresh.jpg' %}" class="girl img-responsive" width="300px" alt="" />
									<img src="{% static 'images/home/pricebest.png' %}" class="pricing" alt="" />
								</div>
							</div>
							
						</div>
						
						<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>
					 -->
				</div>
			</div>
		</div>
	</section><!--/slider-->
		
	<section style="margin-top: 5%;" >
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Category</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Fertilizers
										</a>
									</h4>
								</div>
								<div id="sportswear" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="">DAP </a></li>
											<li><a href="">UAP </a></li>
											<li><a href="">Ammonia Nitrate </a></li>
											
										</ul>
									</div>
								</div>
							</div>
							
						
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Poultry Machinery</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Farm Equipments</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Labour</a></h4>
								</div>
							</div>
							
						</div><!--/category-productsr-->					</div>
				</div>		



				
				<div class="col-sm-9 padding-right">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">Features Items</h2>
					{% for product in products %}
					<div class="col-sm-4">
						<div class="product-image-wrapper">
							<div class="single-products">
									<div class="productinfo text-center">
										<img style="border-radius: 7px; object-fit: cover;" src="{{product.image.url}}" alt="" height="200px" />
										{% if product.market_price %}
                                            <h6 style="text-decoration: line-through;">KES {{product.market_price}}</h6>
                                        {% endif %}
                                        <h2>KES {{product.price}}</h2>
										<p>{{product.title}}</p>
                                        
									</div>

							</div>
							
						</div>
					</div>
					
					{% endfor %}
						
					</div><!--features_items-->
					
				</div>
			</div>
		</div>
	</section>

	{% include 'footer.html ' %}
         <script type="text/javascript">
             $(document).ready(function () {
                 $('#sidebarCollapse').on('click', function () {
                     $('#sidebar').toggleClass('active');
                     $(this).toggleClass('active');
                 });
             });
	
         </script>

{% endblock content %}